:root {
  --color-textColorDark: #0E1A0D;
  --color-textColorLight: #f0f9ef;
  --color-primaryBgColorLight: #FDFCEA;
  --color-primaryBgColorDark: #051f04;
  --color-accentColorYellow: #F4E0AE;
  --color-accentColorPeach: #FFC5AF;
  --color-accentColorGreen: #A8CD88;
  --color-accentColorDarkGreen: #264621;
  --color-link: #2D74FF;
  --color-activeLink: #6f64d2;
}
/* TEMPORARY CLASSES */
.temp {
  background-color: red !important;
}

.tomp {
  background-color:blue !important;
}
/* END OF TEMPORARY CLASSES */

/* Universal styling */
body {
  margin: 0;
  background-color: var(--color-primaryBgColorLight);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2em;
}

section, nav, footer {
  padding: 5px 75px;
  display: flex;
  justify-content: center;
}

section {
  padding: 20px 75px;
}

section > div, nav > ul, footer > div, nav > ul {
  width: 100%;
  max-width: 1500px;
}

a {
  color: var(--color-link);
}

a:visited {
  color: var(--color-activeLink);
}

/* Nav styling */
.nav_wrapper {
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.nav_wrapper > span {
  height: 50px;
}

nav {
  background-color: var(--color-accentColorPeach);
  color: var(--color-textColorDark);
  font-weight: bold;
  font-size: 1.7rem;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.small_nav {
  padding: 5px 50px;
  font-size: 1.5rem;
}

nav > ul, .nav_links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

nav li {
  padding:15px;
  margin: 0px 10px;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size:inherit;
  font-weight: inherit;
  font-family: inherit;
}

nav a:visited {
  color: var(--color-textColorDark);
}

/* Footer styling */
footer {
  background-color: var(--color-accentColorGreen);
  padding: 30px 0px;
}

.footer_div {
  color: var(--color-textColorDark);
  font-size: 1.7rem;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.github_link svg {
  width: 100px; /* Adjust size */
  height: auto;
  cursor: pointer;
}

/* Section styling */
h1, h2, h3, h4, h5, h6 {
  font-size: 2.5rem;
}

section p, section li, form input, form select, form textarea {
  font-size: 1.5rem;
  line-height: 1.5;
}

button {
  font-size: 1.7rem;
  line-height: 1.5;
  border-radius: 15px;
}

li {
  margin-bottom: 25px;
}

.dark_section {
  background-color: var(--color-primaryBgColorDark);
}

.dark_section p, .dark_section h1, .dark_section h2, .dark_section h3, .dark_section h4, .dark_section h5, .dark_section h6, .dark_section li, .light_section button {
  color: var(--color-textColorLight);
} 

.dark_section button {
  background-color: var(--color-accentColorYellow);
  padding: 25px;
  border: none;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.dark_section button:hover {
  background-color: var(--color-accentColorPeach);
  color: var(--color-textColorDark);
}

.dark_section span {
  color: var(--color-accentColorPeach);
  font-weight: bold;
}

.light_section {
  background-color: var(--color-primaryBgColorLight);
}

.light_section p, .light_section h1, .light_section h2, .light_section h3, .light_section h4, .light_section h5, .light_section h6, .light_section li, .dark_section button {
  color: var(--color-textColorDark);
}

.light_section button {
  background-color: var(--color-accentColorDarkGreen);
  padding: 25px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.light_section button:hover {
  background-color: var(--color-accentColorGreen);
  color: var(--color-textColorDark);
}

/* Additional element styling for headers */
.header_underline {
  position: relative;
  display: inline-block; /* Ensures proper width calculation */
}

.header_underline::after{
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 40%;
  height: 4px;
  background-color: currentColor;
  border-radius: 10px;
}

/* Additional element styling for forms */
form {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
}

form > * {
  margin: 10px 0px;
  width: 100%;
  box-sizing: border-box;
}

form input, form select, form textarea {
  width: 100%;
  border-radius: 15px;
  border: 2px solid #767676;
  padding: 10px;
  box-sizing: border-box;

}

form textarea {
  resize: none;
  min-height: 200px;
}

form input:focus, form select:focus, form textarea:focus {
  outline: none;
}

.password_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* display: inline-block; */
}

.icon {
  position: absolute;
  margin: 0px;
  width: auto;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-top: 6px;
}

.hidden-label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.no_style {
  all: unset !important;
}
